---
import Layout from "../layouts/Layout.astro"
import Shell from "../components/Shell.astro"

import H1 from "../components/H1.astro"
import { Image } from "astro:assets"
import { works } from "../data/content"
---

<Layout>
  <Shell>
    <div
      class="flex flex-col items-center justify-center space-y-2 text-center"
    >
      <H1> Hi! I&apos;m Raphael </H1>
      <p class="text-base text-foreground/75 sm:text-lg md:text-2xl">
        Passionate about building solutions with software
      </p>
    </div>

    <section class="grid grid-cols-1 gap-10 sm:grid-cols-2 sm:gap-12">
      {
        works.map((work) => (
          <a
            href={`/work/${work.title.toLowerCase()}`}
            class="flex flex-col items-start space-y-4"
            transition:name={`work-${work.title}`}
          >
            <Image
              src={work.thumbnail}
              alt="Thumbnail"
              width={1000}
              height={500}
              quality="max"
              class="rounded-md bg-secondary/40 shadow-sm transition-all duration-300 hover:opacity-70"
              format="webp"
              decoding="async"
              loading="lazy"
            />
            <div>
              <h3 class="text-xl font-semibold">{work.title}</h3>
              <p class="text-base text-foreground/75">{work.description}</p>
            </div>
          </a>
        ))
      }
    </section>
  </Shell>
</Layout>
